<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Build a custom CKAN (from local directory)</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>DOCKER_IMAGE</name>
          <description></description>
          <defaultValue>ckan-cloud-custom-ckan-${BUILD_NUMBER}</defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>CKAN_BRANCH</name>
          <description></description>
          <defaultValue>ckan-2.8.1</defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>CKAN_REPO</name>
          <description></description>
          <defaultValue>ckan/ckan</defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <com.gem.persistentparameter.PersistentTextParameterDefinition plugin="persistent-parameter@1.1">
          <name>POST_INSTALL</name>
          <description></description>
          <defaultValue></defaultValue>
          <successfulOnly>false</successfulOnly>
        </com.gem.persistentparameter.PersistentTextParameterDefinition>
        <com.gem.persistentparameter.PersistentTextParameterDefinition plugin="persistent-parameter@1.1">
          <name>POST_DOCKER_BUILD</name>
          <description></description>
          <defaultValue></defaultValue>
          <successfulOnly>false</successfulOnly>
        </com.gem.persistentparameter.PersistentTextParameterDefinition>
        <com.gem.persistentparameter.PersistentStringParameterDefinition plugin="persistent-parameter@1.1">
          <name>DOCKER_PUSH_IMAGE</name>
          <description></description>
          <defaultValue></defaultValue>
          <successfulOnly>false</successfulOnly>
        </com.gem.persistentparameter.PersistentStringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd /etc/ckan-cloud/ckan-cloud-docker &amp;&amp;\
jenkins/scripts/build_ckan_custom.sh</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>