version: '3.2'

services:

  proxy:
    ports:
      - "80:80"
      - "443:443"

  nginx:
    depends_on:
      - proxy
      - varnish

  ckan:
    depends_on:
      - datapusher
    links:
      - datapusher
    image: viderum/ckan-cloud-docker:<tag>
    build:
      context: ckan
      args:
        CKAN_BRANCH: ckan-2.7.3
        POST_INSTALL: |
          install_standard_ckan_extension_github -r keitaroinc/ckanext-s3filestore &&\
          install_standard_ckan_extension_github -r okfn/ckanext-sentry &&\
          install_standard_ckan_extension_github -r ViderumGlobal/ckanext-querytool -b shanghai &&\
          install_standard_ckan_extension_github -r ckan/ckanext-geoview &&\
          msgfmt ~/venv/src/ckanext-querytool/ckanext/querytool/i18n/zh_CN/LC_MESSAGES/ckanext-querytool.po -o ~/venv/src/ckanext-querytool/ckanext/querytool/i18n/zh_CN/LC_MESSAGES/ckanext-querytool.mo && \
          msgfmt ~/venv/src/ckanext-querytool/ckanext/querytool/i18n/es/LC_MESSAGES/ckanext-querytool.po -o ~/venv/src/ckanext-querytool/ckanext/querytool/i18n/es/LC_MESSAGES/ckanext-querytool.mo && \
          msgfmt ~/venv/src/ckanext-querytool/ckanext/querytool/i18n/fr/LC_MESSAGES/ckanext-querytool.po -o ~/venv/src/ckanext-querytool/ckanext/querytool/i18n/fr/LC_MESSAGES/ckanext-querytool.mo && \
          msgfmt ~/venv/src/ckanext-querytool/ckanext/querytool/i18n/pt_BR/LC_MESSAGES/ckanext-querytool.po -o ~/venv/src/ckanext-querytool/ckanext/querytool/i18n/pt_BR/LC_MESSAGES/ckanext-querytool.mo
    environment:
      - CKAN_CONFIG_TEMPLATE_PREFIX=sample-theme-

  jobs:
    image: viderum/ckan-cloud-docker:<tag>
    build:
      context: ckan
      args:
        PIP_INDEX_URL: https://pypi.org/simple
        CKAN_BRANCH: ckan-2.7.3
        POST_INSTALL: |
          install_standard_ckan_extension_github -r keitaroinc/ckanext-s3filestore &&\
          install_standard_ckan_extension_github -r ViderumGlobal/ckanext-querytool &&\
          install_standard_ckan_extension_github -r ckan/ckanext-geoview
    environment:
      - CKAN_CONFIG_TEMPLATE_PREFIX=sample-theme-

  db:
    image: mdillon/postgis
    build:
      args:
        DB_INIT: |
          psql --dbname="ckan" -c "CREATE EXTENSION IF NOT EXISTS postgis;                  \
                                   CREATE EXTENSION IF NOT EXISTS postgis_topology;         \
                                   CREATE EXTENSION IF NOT EXISTS fuzzystrmatch;            \
                                   CREATE EXTENSION IF NOT EXISTS postgis_tiger_geocoder;"
  datapusher:
    container_name: datapusher
