# CKAN instance to write harvested packages
CKAN_API_KEY=nnnnn
CKAN_BASE_URL=http://nginx:8080
CKAN_VALID_USER_ID=admin

# CKAN instance from which to read the harvest sources (and organisations)
# Empty for not import harvest sources. Example: https://catalog.data.gov
CKAN_IMPORT_HARVEST_SOURCES_URL=
# "GET" from ckan 2.3, "POST" for newer versions
CKAN_IMPORT_REQUEST_METHOD=POST

HARVESTER_APP_PATH=/app