LOAD_EX=n
FERNET_KEY=46BKJoQYlPPOexq0OhDZnIlNepKFf87WFwLbfzqDDho=
EXECUTOR=Celery
# REDIS_PASSWORD=redispass
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

#AIRLOW + __ + section name + __ + config value
AIRFLOW__WEBSERVER__WEB_SERVER_PORT=8081
AIRFLOW__WEBSERVER__WEB_ENDPOINT_URL=http://localhost:8081
AIRFLOW__CORE__DAGBAG_IMPORT_TIMEOUT=180

AIRFLOW__CORE_SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres:5434/airflow
AIRFLOW__CELERY__RESULT_BACKEND=db+postgresql://airflow:airflow@postgres:5434/airflow
