#!/usr/bin/env bash

echo Waiting for ckan infrastructure...

while sleep 2; do
    psql -d {{SQLALCHEMY_URL}} -c "select 1" &&\
    pg_isready -h datastore-db &&\
    wget -qO - {{SOLR_URL}}/schema/version &&\
    redis-cli -h redis ping &&\
    exit 0
    echo .
done

exit 1
